@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital@1&display=swap');


*{
   background-color: rgb(168, 173, 173); 
   font-family: 'Roboto Condensed', sans-serif;
}
.texto-inicial{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(12, 12, 12);
}

.Logotype{
    height: 200px;
}

.Living-desing-Banner{
    width: 100%;
    height: auto;
    text-align: center;
}
 .bienvenida {
    width: 800px;
    text-align: center;
 }

 .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }